
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Plan Create</h1>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action=""></form>
            <table>
                <thead>
                    <tr>
                        <th>
                            <form action="/title" method="POST">
                                <input type="text" name="title" placeholder="Title">
                                {{!-- <button type="submit"></button> --}}
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- <tr>
                        <td>
                            <h2>Day 1</h2>
                            <form action="/delete-day" method="POST">
                                <button type="submit">Delete Day</button>
                            </form>
                            <ul>
                                <li>
                                    Plan Item 1
                                    <form action="/delete-item" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </li>
                                <li>
                                    Plan Item 2
                                    <form action="/delete-item" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </li>
                                <li>
                                    Plan Item 3
                                    <form action="/delete-item" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr> --}}
                    <tr>
                        <td>
                            <form action="/add-day" method="POST">
                                <button type="submit">Add Day</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <th>
                            <form action="/search" method="GET">
                                <input type="text" name="searchItems" placeholder="Location">
                                <button type="submit">Search</button>
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>
                                    Plan Option 1
                                    <form action="/add-item" method="POST">
                                        <button type="submit">Add</button>
                                    </form>
                                </li>
                                <li>
                                    Plan Option 2
                                    <form action="/add-item" method="POST">
                                        <button type="submit">Add</button>
                                    </form>
                                </li>
                                <li>
                                    Plan Option 3
                                    <form action="/add-item" method="POST">
                                        <button type="submit">Add</button>
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/Submit-plan" method="POST">
                <button type="submit">Submit Plan</button>
            </form>
        </div>
    </div>
</div>
<h1>Start creating your plan</h1>


<form action="/create-plan" method="POST">
   
    {{#each listOfPlaces}}
    <div>
        <input type="checkbox" value="{{name}}">
       <a href="/poi-detail/{{id}}">{{name}}</a>
    </div>
    {{/each}}

    <button type="submit">Add to your plan</button>
</form>



{{!-- <form action="/create-plan" method="POST">
   
    {{#each listOfPlaces}}
    <div>
        <input type="checkbox" value="{{name}}">
        <label>{{name}}</label>
    </div>
    {{/each}}

    <button type="submit">Add to your plan</button>
</form> --}}
