<div class="container">
    {{!-- <div class="row">
        <div class="col-md-12">
            <h1>Edit Plan</h1>
        </div>
    </div> --}}
    <div class="row">
        <div class="col-md-6">
            {{!-- <form action="" method=""> --}}
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h2>My Trip to {{plan.planName}}</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each plan.days}}
                        <tr>
                            <td>
                                <h3>Day {{math @index "+" 1}}</h3> 
                                <ul>
                                    {{#each ids}}
                                    <li><a href="/poi-detail/{{id}}">{{name}}</a></li>
                                    <form action="/delete-item/{{../../plan.id}}/{{id}}" method="POST">
                                        <button type="submit">Delete</button>
                                    </form>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td>
                                <form action="/add-day/{{plan._id}}" method="POST">
                                    <button type="submit">Add Day</button>
                                </form>
                                <form action="/delete-day/{{plan._id}}" method="POST">
                                    <button type="submit">Delete Day</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{!-- <button type="submit">Save Changes</button>
            </form>
            <form action="" method="GET">
                <button type="submit">Discard Changes</button>
            </form> --}}
        </div>
        <div class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Points of Interest:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                {{#each listOfPlaces}}
                                    <li>
                                        <a href="/poi-detail/{{id}}">{{name}}</a>
                                        <form action="/add-item/{{../plan.id}}/{{id}}" method="POST">
                                            <select name="planDay">
                                                <option value="-1">Day</option>
                                                {{#each ../plan.days}}
                                                <option value="{{@index}}">{{math @index "+" 1}}</option>
                                                {{/each}}
                                            </select>
                                            <button type="submit">Add</button>
                                        </form>
                                    </li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/profile/{{plan.id}}/delete" method="POST">
                <button type="submit">Delete Plan</button>
            </form>
        </div>
    </div>
</div>

