<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>My Trip to {{plan.planName}}</h2>
            <div class="day-btn">
                <form action="/add-day/{{plan._id}}" method="POST">
                    <button type="submit"> + Day</button>
                </form>
                <form action="/delete-day/{{plan._id}}" method="POST">
                    <button type="submit">- Day</button>
                </form>    
            </div>
        </div>
        <div class="col-md-6"><h2>Points of Interest:</h2></div>
    </div>
    <div class="row">
        <div class="col-md-6 box" style="overflow-y: scroll; height:400px;">
            <table >
                <tbody>
                    {{#each plan.days}}
                        <tr>
                                <h3>Day {{math @index "+" 1}}</h3>
                                <hr>
                                <ul>
                                    {{#each ids}}
                                    <li><a href="/poi-detail/{{id}}">{{name}}</a></li>
                                    <form action="/delete-item/{{../../plan.id}}/{{id}}" method="POST">
                                        <button type="submit"><i class="fa fa-trash"></i></button>
                                    </form>
                                    {{/each}}
                                </ul>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="overflow-y: scroll; height:400px;">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                {{#each listOfPlaces}}
                                    <li>
                                        <a href="/poi-detail/{{id}}">{{name}}</a>
                                        <form action="/add-item/{{../plan.id}}/{{id}}" method="POST">
                                            <select name="planDay">
                                                <option value="-1">Day</option>
                                                {{#each ../plan.days}}
                                                <option value="{{@index}}">{{math @index "+" 1}}</option>
                                                {{/each}}
                                            </select>
                                            <button type="submit">+</button>
                                        </form>
                                    </li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 edit-btn">
            <form action="/profile" method="GET">
                <button type="submit">Profile</button>
            </form>
            <form action="/profile/{{plan.id}}/delete" method="POST">
                <button type="submit">Delete Plan</button>
            </form>
        </div>
    </div>
</div>

