<div class="container">
    <div class="row row-margin-top-30">
        <div class="col-md-6 detail-center">
            <h2 class="text-center">My Trip to {{planName}}</h2>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-6 box detail-center">
            <table class="detail-center">
                <tbody>
                    {{#each days}}
                    <tr>
                            <h3 class="text-center margin-top-15">Day {{math @index "+" 1}}</h3>
                            <hr>
                            <ul>
                                {{#each ids}}
                                <li class="text-center margin-top-5"><a href="/poi-detail/{{id}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-12 detail-btn">
            <form action="/profile/{{id}}/edit" method="GET">
                <button type="submit">Edit</button>
            </form>
            <form action="/profile/{{id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

