<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>My Trip to {{planName}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 box">
            <table>
                <tbody>
                    {{#each days}}
                    <tr>
                        <td>
                            <h3>Day {{math @index "+" 1}}</h3> 
                            <ul>
                                {{#each ids}}
                                <li><a href="/poi-detail/{{id}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/profile/{{id}}/edit" method="GET">
                <button type="submit">Edit</button>
            </form>
            <form action="/profile/{{id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

