<div class="container">
    <div class="row">
        <div class="col-md-6 box">
            <h1>Welcome {{user.username}}</h1>
            <form class="create-form" action="/create-plan" method="POST">
                <input type="text" name="planName" placeholder="Where do you want to go?">
                <button type="submit">Create Plan</button>
            </form>
        </div>
        <div class="col-md-6" style="overflow-y: scroll; height:400px;">
            <ul>
                {{#each plans}}
                    <li>
                        <a href="/profile/{{id}}">My Trip to {{planName}}</a>
                        <form action="/profile/{{id}}/edit" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/profile/{{id}}/delete" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                {{/each}}    
            </ul>
        </div>
    </div>
</div>