<div class="container">
    <div class="row row-margin-top-30">
        <div class="col-md-6 box-align">
            <h2>Welcome {{user.username}}</h2>
            <form class="create-form" action="/create-plan" method="POST">
                <input type="text" name="planName" placeholder="Where do you want to go?">
                <button class="btn" type="submit">Create Plan</button>
            </form>
        </div>
        <div class="col-md-6 box" style="overflow-y: scroll; height:470px;">
            <ul>
                {{#each plans}}
                    <li class="text-center margin-top-15">
                        <h5 class="margin-top-15"><a href="/profile/{{id}}">My Trip to {{planName}}</a></h5>
                        <hr>
                        <div class="justify-contente-center margin-top-5">
                            <form action="/profile/{{id}}/edit" method="GET">
                                <button class="btn2" type="submit">Edit</button>
                            </form>
                            <form action="/profile/{{id}}/delete" method="POST">
                                <button class="btn2" type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                {{/each}}    
            </ul>
        </div>
    </div>
</div>
